.transparent-header {
    background-color: rgba(95, 93, 93, 0); 
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.background-image
{
    position: relative;
    height: 450px;
    overflow:visible;
    width: 100%;
}
.container1 img
{
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.container1 .main-text
{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-text h1
{
    color: #ffffff;
    font-size: 60px;
    font-weight: 600;
}
label
{
    color: #fd7e14;
}
body
{
    background-color:#232323;
}

.logo img {
    width: 100px; 
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff; 
}

.menu ul li a:hover {
    color: #fd7e14; 
}
h1
{
    color:#fd7e14;
}
.btn-primary
{
    background-color: #ffffff;
    color:#fd7e14;
    border-color:#232323;
    border-width: 2px;
    margin-bottom: 30px;
}
.btn-primary:hover{
    background-color: #fd7e14;
    border-color: #232323;

}

.context-box {
    margin-top: 30px;
    padding: 30px;
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    background-color: black;
  }
  .column {
    width: 30%;
    text-align: center;
  }
  .column-image {
    max-width: 30px;
    height: auto;
    margin-bottom: 10px;
   background-color:#fd7e14;
   border-radius: 40%;
  }

#map {
    height: 400px;
    width: 80%; 
    margin: 0 auto; 
    border-radius: 10px;
}
