*{
  padding: 0;
  margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#121212;
}

.transparent-header {
    background-color: rgba(95, 93, 93, 0); 
    padding: 20px;
    position: absolute;
    width: 90%;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; 
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff; 
}

.menu ul li a:hover {
    color: #fd7e14; 
}
.mySlides {
    display: none;
    position: relative;
    opacity: 0.6;
    transition: opacity 1s ease-in;
  }
.fade {
    opacity: 1;
}  
.slideshow-container .main-text
{
    position: absolute;
    color: white;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}
.slideshow-container .main-text2
{
    position: absolute;
    color: #fd7e14;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight: bold;
}
.slideshow-container .main-text3
{
    position: absolute;
    color: #ffffff;
    top: 61%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight: bold;
}

.login-button
{
  padding: 12px 18px;
    background-color:#c95f07;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%,-50%);
}
a{
  color: white;
}
.login-button:hover {
  background-color:#797979;
}
.slideshow-container img
{
    height: 100%;
    width: 100%;
}
.text1
{
  color:#c95f07;
  padding-top: 0px;
  padding-left: 42%;
  margin-top: -20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  background-color:#121212;
}
.heading1
{
  color:white;
  padding-top: 0px;
  padding-left: 33%;
  margin-top: -10px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  background-color:#121212;
}
.container {
    display: flex;
    background-color:#282828;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    color:#c95f07;
  }
  
  .column img {
    max-width: 70px;
    height: auto;
    margin-bottom: 10px;
  } 
.paracolumn
{
    font-weight: 100;
    font-size: 13px;
    color: #a1a1a1;
}
.container2 {
    display: flex;
    background-color:#121212;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  
  .photo {
    position: relative;
  }
  
  .photo img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .photo:hover .overlay {
    opacity: 1;
  }
  
  .overlay h2 {
    margin-bottom: 10px;
  }
  
  .button {
    padding: 8px 16px;
    background-color:#797979;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color:#c95f07;
  }
  .front-images {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
  }

.headings
{ 
  color: white;
  padding-top: 30px;
  padding-left: 40%;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  background-color:#121212;
}

.context-box {
  padding: 30px;
  font-family: sans-serif;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color:#0c0c0c;
}
.footer1 {
  width: 30%;
  text-align: center;
}
.footer1 img {
  max-width: 30px;
  height: auto;
  margin-bottom: 10px;
 background-color:#fd7e14;
 border-radius: 40%;
}

.container3{
  display: flex;
  background-color:#121212;
  padding-top: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 90%; 
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 40px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: black;
}

.column1 {
  flex: 1;
  color: #ffffff;
}
.column1 img
{
  width: 100px;
}
.column1 h3 {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 20px;
}

.column1 p {
  margin-bottom: 10px;
}

.column1 ul {
  list-style: none;
}

.column1 ul li {
  margin-bottom: 5px;
}

.social-icons {
  display: flex;
  margin-top: 10px;
}

.social-icons li {
  margin-right: 10px;
}
.social-icons img{
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-icons img:hover {
  background-color:#c95f07;
}
.footerhr
{
  width: 60%;
  margin: 0 auto;
}
.footer-hrtext
{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35%;
  color: #4e4e4ebd;
  background-color: black;
}